<div class="sidebar ">

{% if page.url == '/' %}
</div>
{% else %}
  <h1>{{ site.title }}</h1>
  <ul>
    {% for u in site.urls %}
    <li><a href="{{ u.url | relative_url }}">{{ u.text }}</a></li>
    {% endfor %}
    {% assign chaps = site.books | where: 'root', true %}
    {% for bk in chaps %}
    <li class="nav-item" title="{{ bk.description }}">
	<a class="about" href="{{ bk.url | relative_url }}">{{ bk.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

  {% if site.tags and false %}
<div class="sidebar">
  <h2>Tags</h2>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ '/tag/' | append: tag[0] | relative_url }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }} постов">
        <span>{{ tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div>
  {% endif %}
{% endif %}
